<a href="https://colab.research.google.com/github/wogur9503/AI-bootcamp-/blob/main/sc6_project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests, bs4
import pandas as pd
from lxml import html
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote

# 1. URL 파라미터 분리하기.
# Service URL
xmlUrl = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson'

My_API_Key = 'l/Lr1TuFx7dvCcJ/5kjof0S/Kf6LDRKSqzWvRWqP6QL2zCphYijhN9gTpe1UnI4J2DPTTFZM+ud7wT7zBv/OsQ=='

queryParams = '?' + urlencode(    # get 방식으로 쿼리를 분리하기 위해 '?'를 넣은 것이다. 메타코드 아님.
    {
        quote_plus('ServiceKey') : My_API_Key,    # 필수 항목 1 : 서비스키 (본인의 서비스키)
        quote_plus('startCreateDt') : '20200310',          # 필수 항목 2 : 데이터 생성일 시작범위
        quote_plus('endCreateDt') : '20211031'         # 필수 항목 3 : 데이터 생성일 종료범위
     }
)

response = requests.get(xmlUrl + queryParams).text.encode('utf-8')
xmlobj = bs4.BeautifulSoup(response, 'lxml-xml')
xmlobj

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html><title/><script>var y=window</script><script>var x={o:'TFZM%2Bud7wT7zBv%2FOsQ%3D%3D=20200310=20211031',t:'/ZdTZa/openapi/service/rest/Covid19/getCovid19InfStateJson?ServiceKey=l%',h:'2FLr1TuFx7dvCcJ%2F5kjof0S%2FKf6LDRKSqzWvRWqP6QL2zCphYijhN9gTpe1UnI4J2DPT'};function rsu(){return x.t+x.h+x.o}y.location.assign(rsu())</script></html>

# item태그로 분리

In [2]:
rows = xmlobj.findAll('item')
rows[0]

IndexError: ignored

In [76]:
columns = rows[0].find_all()
columns

[<accDefRate>2.5296141387</accDefRate>,
 <accExamCnt>15804062</accExamCnt>,
 <createDt>2021-10-31 09:17:32.729</createDt>,
 <deathCnt>2849</deathCnt>,
 <decideCnt>364697</decideCnt>,
 <seq>683</seq>,
 <stateDt>20211031</stateDt>,
 <stateTime>00:00</stateTime>,
 <updateDt>2021-11-04 09:31:44.097</updateDt>]

In [77]:
# 리스트 조회해보기
columns[0].name

'accDefRate'

In [78]:
columns[0].text

'2.5296141387'

# 반복문으로 만들기

In [79]:
# 모든 행과 열의 값을 모아 매트릭스로 만들어보자.
rowList = []
nameList = []
columnList = []

rowsLen = len(rows)
for i in range(0, rowsLen):
    columns = rows[i].find_all()
    
    columnsLen = len(columns)
    for j in range(0, columnsLen):
        # 첫 번째 행 데이터 값 수집 시에만 컬럼 값을 저장한다. (어차피 rows[0], rows[1], ... 모두 컬럼헤더는 동일한 값을 가지기 때문에 매번 반복할 필요가 없다.)
        if i == 0:
            nameList.append(columns[j].name)
        # 컬럼값은 모든 행의 값을 저장해야한다.    
        eachColumn = columns[j].text
        columnList.append(eachColumn)
    rowList.append(columnList)
    columnList = []    # 다음 row의 값을 넣기 위해 비워준다. (매우 중요!!)
    
result = pd.DataFrame(rowList, columns=nameList)
result.head()

     accDefRate accExamCnt  ... stateTime                 updateDt
0  2.5296141387   15804062  ...     00:00  2021-11-04 09:31:44.097
1  2.5166866619   15775697  ...     00:00   2021-11-04 09:31:55.49
2  2.5085565147   15730782  ...     00:00  2021-11-04 09:32:05.724
3  2.5082902607   15678186  ...     00:00  2021-11-01 06:34:15.071
4  2.5019099621   15628306  ...     00:00  2021-10-30 09:44:12.063

[5 rows x 9 columns]

In [80]:
result

       accDefRate accExamCnt  ... stateTime                 updateDt
0    2.5296141387   15804062  ...     00:00  2021-11-04 09:31:44.097
1    2.5166866619   15775697  ...     00:00   2021-11-04 09:31:55.49
2    2.5085565147   15730782  ...     00:00  2021-11-04 09:32:05.724
3    2.5082902607   15678186  ...     00:00  2021-11-01 06:34:15.071
4    2.5019099621   15628306  ...     00:00  2021-10-30 09:44:12.063
..            ...        ...  ...       ...                      ...
595   3.318000336     261335  ...     00:00   2021-10-07 10:30:51.51
596   3.458499309     248647  ...     00:00   2021-10-07 10:30:51.51
597   3.621744273     234998  ...     00:00   2021-10-07 10:30:51.51
598   3.804174536     222395  ...     00:00   2021-10-07 10:30:51.51
599   3.919308057     210144  ...     00:00   2021-10-07 10:30:51.51

[600 rows x 9 columns]

In [ ]:
!pip install pymysql
!pip install sqlalchemy

In [ ]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
db_connection_str = 'mysql+pymysql://root:root@localhost/covid'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [ ]:
result.to_sql(name='covid', con=db_connection, if_exists='append',index=False)